<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /merchant/api/
  # Se NON esiste un file o una dir con quel nome, inoltra a index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [QSA,L]
</IfModule>

